ul.notes {
  span.new-order {
    float: left;
    width: 40px;
    height: 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fcf8e3;
    display: block;
  }
}
