<%= simple_form_for(@product) do |f| %>
  <div class="form-inputs">
    <%= f.association :category, label: "商品种类" %>
    <%= f.input :name, label: "商品名" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交表单", class: "btn-primary" %>
  </div>
<% end %>
